@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body{
  font-family: 'Roboto', sans-serif;
}
:root{
  --primary-white: #fff;
}

/**********NAVBAR**************************/
.logo{
  width: 8rem;
}

/**********MENULINKS***********/
nav a.nav-link{
  font-weight: 800;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}
nav ul li{
    text-transform: uppercase;
  }
  .navbar-nav> li > a{
    color: var(--primary-white) !important
  }